* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    /* COLORS */
    --color-primary: rgb(255, 105, 0);
    --color-primary-dark: rgb(240, 100, 0);
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f54242;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #f9f9f9;
    /* CONTAINER WIDTH */
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    /* OTHER */
    --transition: all 400ms ease;
    --border-radius: 15px;
    --box-shadow: rgba(184, 184, 184, 0.2) 0px 2px 8px 0px;
    --padding: .8rem 1.4rem;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 3rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-black);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* ================== HEADER ================== */
header {
    height: 5rem;
    background: var(--color-white);
}

.header__info a {
    font-weight: 500;
    font-size: 1.7rm;
    transition: var(--transition);
    margin-left: 1.4rem;
}

.header__info a:hover {
    color: var(--color-primary);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 10rem;
}

.header__cart {
    background: var(--color-primary);
    padding: var(--padding);
    color: var(--color-white);
    border-radius: var(--border-radius);
}

a.header__cart:hover {
    color: var(--color-white);
    background: var(--color-primary-dark);
}

/* ================== NAVBAR ================== */
nav {
    height: 3rem;
}

.nav__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__container ul {
    display: flex;
    gap: 2rem;
}

.nav__container ul a {
    font-size: 1.2rm;
    transition: var(--transition);
    border-bottom: 1px dashed var(--color-black);
}

.nav__container ul a.active {
    color: var(--color-primary);
    border-bottom: 1px dashed var(--color-primary);
}


.nav__container ul a:hover {
    color: var(--color-primary);

}

/* ================== MAIN ================== */
main h2 {
    text-align: left;
}

.card {
    width: 350px;
    background: #ffffff;
    padding: 1.4rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.card__title,
.card__description {
    margin-top: .7rem;
}

.card__description {
    font-size: .9rem;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 1.4rem;
}

.card__price {
    font-weight: 500;
}

.card__button {
    background: var(--color-primary);
    color: var(--color-white);
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.card__button:hover {
    background: var(--color-primary-dark);
}